<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="ERROR" name="error-config">
    <Properties>
        <Property name="LOG_DIR">${sys:web.root}/logs</Property>
        <Property name="ARCHIVE">${LOG_DIR}/archive</Property>
        <Property name="PATTERN">%-5level %d [%t] %c:%M(%L): %m%n</Property>
    </Properties>
    <Appenders>
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="${PATTERN}"/>
        </Console>

        <RollingFile name="fileWriter"
                     fileName="${LOG_DIR}/social-api-1.log"
                     filePattern="${ARCHIVE}/social-api-1.log.%d{yyyy-MM-dd-hh-mm}.gz">
            <PatternLayout pattern="${PATTERN}"/>
            <TimeBasedTriggeringPolicy/>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="fileWriter"/>
        </Root>
        <Logger name="io.vendhan.social" level="ERROR" additivity="true"/>
    </Loggers>
</Configuration>